p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:normal;
  font-size: 16px;
  line-height:25px;
  color: black;
  position: relative;
  left: 15px;
  bottom: 8px;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter;
  font-size:40px;
  position: relative;
  left: 15px;
  bottom: 5px;
}

.mountain {
  font-family:Arial;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left: 10px;
  bottom: 0px;
  }

.starry {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left:450px;
  bottom:365px;
  
}

.car {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left: 895px; ;
  bottom: 730px;
  
}

.sw{
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left: 8px;
  bottom: 710px;
}

.forest{
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left: 678px;
  bottom: 1178px;
}

.park {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative;
  left: 9px;
  bottom: 1165px;
}

.bear {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative; 
  left: 680px;
  bottom: 1630px;
}

.app {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative; 
  left: 8px;
  bottom: 1635px;  
}

.web {
  font-family:sans-serif;
  font-weight:lighter;
  font-size: 14px;
  position: relative; 
  left: 680px;
  bottom: 2120px;  
}


a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color:darkolivegreen;
  text-decoration: none;
}
.imgMountainmove {
  position: relative;
  left: 12px;
  bottom: -15px;
  
}
.textMountainmove {
  font-size:18px;
  position:relative;
  left: 10px;
  bottom: -5px;
}

.imgOperatingmove {
  position: relative;
  left: 453px;
  bottom:350px;
}

.textOperatingmove {
  font-size:18px;
  position: relative;
  left:450px;
  bottom:360px;
}
.imgParkmove {
  position: relative;
  left: 895px;
  bottom:715px;
}
.textParkmove {
  font-size:18px;
  position: relative;
  left: 895px;
  bottom: 725px;
}
.imgWintermove {
  position: relative;
  left: 9px;
  bottom: 700px;
}
.textWintermove {
  font-size:18px;
  position:relative;
  left: 8px;
  bottom: 710px;
}
.imgplaymove {
  position: relative;
  left: 680px;
  bottom: 1167px;
}
.textplaymove {
  font-size:18px;
  position: relative;
  left: 678px;
  bottom: 1175px;

}
.imgSunmove {
  position: relative;
  left: 10px;
  bottom: 1150px;
}
.textSunmove {
  font-size:18px;
  position: relative;
  left: 9px;
  bottom: 1160px;
}
.imgBearmove {
  position: relative;
  left: 680px;
  bottom: 1615px;
}
.textBearmove {
  font-size:18px;
  position: relative;
  left: 680px;
  bottom: 1625px;
}
.imgAppmove {
  position: relative;
  left: 10px;
  bottom: 1618px;
}
.textAppmove {
  font-size:18px;
  position: relative;
  left: 8px;
  bottom: 1630px;
}
.imgWebmove {
  position: relative;
  left: 680px;
  bottom: 2102px;
}
.textWebmove {
  font-size:18px;
  position: relative;
  left: 680px;
  bottom: 2115px;
}
.opearall {
  position: relative;
  left: 0px;
  bottom: -15px;
}
.parkall {
  position: relative;
  left: 0px;
  bottom: -30px;
}
.winterall {
  position: relative;
  left: 3px;
  bottom: -18px;
}
.playall {
  position: relative;
  left: -5px;
  bottom: -30px;
}
.sunall {
  position: relative;
  left: 0px;
  bottom: -20px;
}
.bearall {
  position: relative;
  left: -5px;
  bottom: -30px;
}
.appall {
  position: relative;
  left: 0px;
  bottom: -30px;
}
.weball {
  position: relative;
  left: -6px;
  bottom: -37px;
}
