h1 {
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter;
  font-size:35px;
  position: relative;
  margin: 0px 0px 16px;
  padding: 0px 10px;
  color: #222222;
}

.duanluo {
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size: 1rem;
  line-height:25px;
  font-weight: 400;
  color: #212529;
  position: relative;
  margin: 0px 0px 16px;
  padding: 0px 10px;
}
.mountain {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  color: #444444;
  position: relative;
  margin: 0px 0px 16px;
  
  }

.starry {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  color: #444444;
  margin: 0px 0px 16px;
  
}

.car {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  color: #444444;
  margin: 0px 0px 16px;
  
}

.sw{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  color: #444444;
  margin: 0px 0px 16px;
}

.forest{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  color: #444444;
  margin: 0px 0px 16px;
}

.park {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative;
  color: #444444;
  margin: 0px 0px 16px;
}

.bear {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative; 
  color: #444444;
  margin: 0px 0px 16px;
}

.app {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative; 
  color: #444444;
  margin: 0px 0px 16px;
}

.web {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative; 
  color: #444444;
  margin: 0px 0px 16px;
}

.camp {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative; 
  color: #444444;
  margin: 0px 0px 16px;
}
.house {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
  font-size: 14px;
  line-height: 1.75;
  position: relative; 
  color: #444444;
  margin: 0px 0px 16px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color:#4b5e26;
  text-decoration: none;
}
.imgMountainmove {
  position: relative;
  margin: 0px 0px 16px;
  /*left: 12px;
  bottom: -15px;*/
  
}
.textMountainmove {
  font-size:18px;
  line-height: 1.75;
  position:relative;
  margin: 0px 0px 8px;
  color: #000000;
}

.imgOperatingmove {
  position: relative;
  margin: 0px 0px 16px;

  
}

.textOperatingmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgParkmove {
  position: relative;
  margin: 0px 0px 16px;

}
.textParkmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgWintermove {
  position: relative;
  margin: 0px 0px 16px;
  
}
.textWintermove {
  font-size:18px;
  line-height: 1.75;
  position:relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgplaymove {
  position: relative;
  margin: 0px 0px 16px;
  
}
.textplaymove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;

}
.imgSunmove {
  position: relative;
  margin: 0px 0px 16px;

}
.textSunmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgBearmove {
  position: relative;
  margin: 0px 0px 16px;

}
.textBearmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgAppmove {
  position: relative;
  margin: 0px 0px 16px;
  
}
.textAppmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imgWebmove {
  position: relative;
  margin: 0px 0px 16px;
  
}
.textWebmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}

.imgcampmove {
  position: relative;
  margin: 0px 0px 16px;
  
}

.textCampmove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
}
.imghousemove {
  position: relative;
  margin: 0px 0px 16px;
  
}
.textHousemove {
  font-size:18px;
  line-height: 1.75;
  position: relative;
  margin: 0px 0px 8px;
  color: #000000;
  
}
.mountainall {
  position: relative;
  padding: 0px 10px;

}
.opearall {
  position: relative;
  left: 445px;
  bottom:360px;
  padding: 0px 10px;
}
.parkall {
  position: relative;
  left: 890px;
  bottom: 720px;
  padding: 0px 10px;
}
.winterall {
  position: relative;
  bottom:685px;
  padding: 0px 10px;
}
.playall {
  position: relative;
  bottom:1143px;
  left: 660px;
  padding: 0px 10px;
}
.sunall {
  position: relative;
  padding: 0px 10px;
}
.bearall {
  position: relative;
  padding: 0px 10px;
}
.appall {
  position: relative;
  padding: 0px 10px;
}
.weball {
  position: relative;
  padding: 0px 10px;
}
.campall {
  position: relative;
  padding: 0px 10px;
}
.houseall {
  position: relative;
  padding: 0px 10px;
}
